.result{
    display:inline-block;
}
.txt{
    display:inline-block;
}
select{
    margin-bottom:10px;
}
.main{
	width: 800px;
    margin: 40px auto;
    font-family: Courier, sans-serif;
    font-size:18px; 
}
.js{
	width: 800px;
    margin: 40px auto;
}
body{
	background-color: #16181C;
    color:#DEE8F2
}
code{
	font-size:14px; 
}
button{
	padding:5px;
}
a:link {
    color: #f22450;
}
a:visited {
   color:#7FDBFF; 
}
h2{
	color:#579EBF;
	font-family: sans-serif;
}
h1{
	font-family:  sans-serif;
	color:#f22450;
}
.stuff{
    width:400px;
    display: inline-block;
}
.info{
    width:350px;
    position:relative;
    top:-60px;
    display: inline-block;
}
