.result{
    display:inline-block;
}

.txt{
    display:inline-block;
}
select{
    margin-bottom:10px;
}
.main{
	width: 800px;
    margin: 40px auto;
    font-family: Courier, sans-serif;
    font-size:18px; 
}
body{
	background-color: #16181C;
    color:#DEE8F2
}
code{
	font-size:14px; 
}
 
button{
	padding:5px;
}

a:link {
    color: #f22450;
}
a:visited {
   color:#7FDBFF; 
}
a:hover {
    
}
a:active {
    
}

h2{
	color:#579EBF;
	font-family: sans-serif;

}
h1{
	font-family:  sans-serif;
	color:#f22450;
}
